*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}/*bordes y demas*/

input:focus{outline: 0;}/*quita recuadro azul de los imputs*/
a{text-decoration: none; color: black;}/*sin subrayado en links*/

.d-flex{display: flex;}/*Flex box*/
.justify-between{justify-content: space-between;}/*separacion de los divs cimetricamente"*/
.justify-center{justify-content: center;}/*para centrar los divs y demas*/
.justify-around {justify-content: space-around;}
.align-items{align-items: center;}
.align-center {align-self: center;}
.v-align-center {vertical-align: middle;}
.f-grow1{flex-grow: 1;}
.f-grow4{flex-grow: 4;}
.f-wrap{flex-wrap: wrap;}
.f-column{flex-direction: column;}
.txt-agn { text-align: center;}
.f-row{flex-direction: row;}


.h-30 {height: 30%;}
.h-15 {height: 15vh;}
.h-20 {height: 18vh;}
.h-22 {height: 22vh;}
.h-10 {height: 10vh;}
.w-49 {width: 48.5%;}
.w-70 {width: 70%;}
.w-100 {width:100%;}
.h-50 {height:50%;}
.h-60 {height:55%;}
.h-40 {height:45%;}
.w-60 {width:60%;}
.h-24{height: 24vh;}
.h-21{height: 21vh;}


.header-a-caja{
    background-color: none;

    justify-content: flex-end;
}

.linea-gris {
    border-top: 1px solid gray;
    margin-bottom: 30px;
}

.linea-abajo {
    border-top: 1px solid gray;
    margin-bottom: 10px;
}

/*VERSION MOBILE*/
    #header-mobile{
        display: initial;

    }
    #header-desktop{
        display: none;
    }

    .barra-progreso{
        display: none;
    }

    .header-mobile{
        background-color: white;
        padding: 0 4%;
        height: 50px;
    }

    /*BOTON HAMBURGUESA*/
    /* En smartphone mostramos el botón */
    button#menu {
        display: block;
        width: 45px;
        height: 45px;
        font-size: 30px;
        background-color: white;
        border: none;
        margin: 0px;

    }
    button#menu:focus + nav#superior {
        /* Si es pulsado el boton, mostramos el nav.
        Esto lo puedo hacer porque adquiere el foco. */
        display: block;
        position: fixed;
        z-index: 5;
    }
    
    nav#superior ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav#superior ul a {
        display: block;
        width: 8em;
        text-decoration: none;
        padding: .3em 0;
        text-align: center;
        color: black;
        background: white;
        transition: 1s all;
    }
    
    nav#superior ul a:hover {
        background: lightgray;
    }
    

	nav#superior {
        display: none;
    }
	nav#superior ul {
        flex-direction: column;
        position: absolute;
    }

    nav#superior ul a {
        display: block;
        width: 8em;
        text-decoration: none;
        border: 1px solid black;
        padding: .3em 0;
        text-align: center;
        color: black;
        background: white;
        transition: 1s all;
    }

    /*FIN BOTON HAMBURGUESA*/

    /*SE OCULTAN TODOS LOS MENUS QUE NO SE DEBEN VER*/
    .div-hm{
        display: none;
    }

    
    .products-links{
        display: none;
    }

    /*PANEL DE BUSQUEDA*/
    #header-mobile .search{
        padding: 3%;
        padding-top: 10px;
        background-color: lightgray;
        height: 30px;
        align-items: center;
        box-sizing: content-box;
    }
    
    #header-mobile .search input{
        color: #222;
        font-size: 1em;
        padding: 0 30px 0 10px;
        border-radius: 3px;
        width: 100%;
        height: 30px;
        border: none;
        vertical-align: middle;
    }
    
    #header-mobile .search .icon-search{
        position: relative;
        color: grey;
        font-size: 20px;
        background-color: white;
        border: none;
        height: 30px;
        padding-right: 15px;
    }
    
    #header-mobile header a{
        font-size: 20px;
        margin: 10px;
    }
    
    #header-mobile .logo{
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 50px;
    }



.main-body {
    width:95%;
    margin: 8px auto;
}

.photo-sug {
    width:32%;
}

.descrsup{
    margin-left: 4px;
    font-size: 14px;
}

.descrsup p{
    margin-top: 2px;
    height: 45%;
}

.descrsupright{
    margin-left: 4px;
    width: 100%;
}

.descrsupright select{
    width: 60px;
    margin-left: 15px;
}

.descrinf{
    height: 60px;
}

.descrinf p{
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.descrinfleft{
    height: 20px;
}


.resumen{
    margin-left: 5%;
    margin-top: -55px;
}

.photo-sug img {
    width:90%;
    height:15vh;
    margin-top: 4px;
    margin-left: 6px;
}
.eliminar-guardar {
    width:90%;
    height: 30px;
    font-size: 0.9em;
    border-radius: 2px;
    border: none;
    background-color:#212121;
    color: white;
    margin-bottom: 4px;
    margin-left: 8px;
}

.w-39 {
    width:39%;
}

.w-29 { width:29%;}
.ptb-5 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.ptb-5 {
    padding: 5px 10px;
}

.bckg-gray { 
    background-color: #ebebeb;

}

.bckg-gray p{ 
    margin-bottom: 5px;

}

.bckg-blue {
    background-color: white;
    width: 39%;
    
}

.bckg-green {
    background-color: green;
}

.txt-bold {
    font-weight:bold;
    font-size: 1.02em;
    padding-top: 15px;
    margin-bottom: 8px;
    background-color: white;
}

.photo{
    align-items: center;
}
.photo img{
    width: 100%;
    height: 60%;

}

.contenedor-producto{
    width: 60%;
}

.mb-1 {
    margin-bottom: 1vh;
}

.checkout {
    width:49%;
}

.botones-desktop{
    display: none;
}

.precioscheckout {
    text-align: center;
    margin-bottom: 10px;
}

.header-mobile{
    background-color: white;
    padding: 0 4%;
}

.header-a-caja{
    background-color: none;

    justify-content: flex-end;
}

.products{

    margin: 12px auto;
    font-size: 16px;
}

.continuarcompra {
    width:90%;
    height: 30px;
    font-size: 0.9em;
    border-radius: 2px;
    border: none;
    background-color:#212121;
    color: white;
    margin-bottom: 4px;
}




    .footer{
        background-color:#272727;
        color: #ddd;
        margin-top: 60px;
        text-align: center;
        flex-direction: column;

    }


    .footer .forma-pago{
        margin-top: 15px;

    }

    .footer .forma-pago img{
        width: 200px;
        height: 150px;
        margin-top: 5px;
    }

    .footer .redes{
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .footer .redes img{
        width: 50px;
        height: 50px;
    }

    .footer .imagenes-redes {
        margin-top: 10px;
    }

    .copy{
        font-size: 12px;
        background-color: black;
        text-align: left;
        height: 20px;
        color: #ddd;

    }

.producto{
    height: 30%;
}

.txt-interesarte{
    margin-top: 15px;
    margin-bottom: 3px;
    border-top: 1px grey solid;
    padding-top: 15px;
}

.contenedor-interes{
    height: 260px;
    width: 100%;
    margin-top: -40px;
}

.podria{
    height: 80%;
    margin-top: 50px;
    margin-bottom: 20px;

}

.podria img{
    height: 90px;
}

.podria .photo-sug{
    width: 22%;
}

.podria article{
    background-color: #ebebeb;
    width: 40%;
    margin: 5px;
    align-items: center;
    padding: 3px;
}

.podria article img{
    width: 90%;
    height: 100px;
}

.podria article p{
    text-align: center;
    margin-left: -6px;
}

.podria article:nth-child(3){
    display: none;

}

.podria article:nth-child(4){
    display: none;

}


@media (min-width: 460px){
    /*ESTILOS PARA DESKTOP*/
    #main-mobile{
        display: none;
    }
    button#menu {
        /* Ocultamos el boton en escritorio */
        display: none;
    }

    #header-mobile{
        display: none;
    }

    #header-desktop{
        display: initial;
        width: 80%;
        margin-bottom: 0;
    }
    header{
        background-color: white;
        padding: 0 4% 0 4%;

    }/*color de fondo y tamanio, se quita cuando este el header completo */
    .contenedor-header{
        height: 50px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .search{
        background-color:white;
        height: 30px;
        align-items: center;
        margin-left: 100px;
        box-sizing: content-box;
        border: 1px solid lightgray;
        border-radius: 1px;
    }
    
    .search input{
        color: #222;
        font-size: 15px;
        padding: 0 00px 0 15px;
        border: none;
        width: 100%;
        height: 30px;
    }
    
    .search .icon-search{
        position: relative;
        color: grey;
        font-size: 20px;
        background-color: white;
        border: none;
        height: 30px;
        padding-right: 5px;

    }

    .logo img{
        width: 30%;
        margin-left: 28%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header-a-caja{
        background-color: none;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .links-login a{
        margin-left: 20px;
    }

    .links-login a:nth-child(3){
        margin-right: 40px;
    }

    /*barra hombres mujeres color y centrado */
    .div-hm{
        display: flex;
        background-color: black;
        height: 30px;
        justify-content: center;
    }

    .div-hm .div-hm-h a{
        margin-left: 4px;
        text-align: center;
        color: black;
        background-color: white;
        width: 100px;
        position: relative;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 6px;
    }
    .div-hm .div-hm-m a{
            margin-left: 4px;
            text-align: center;
            color: white;
            background-color: none;
            width: 100px;
            position: relative;
            height: 100%;
            display: inline-block;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 6px;
    
    }/*barra hombres y mujeres color links */
    
    .div-hm .div-hm-m:hover a{
        background-color: lightgray;
        color: black;
    }

    .sections{
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0px;
    }

    .sections a{
        margin-left: 50px;
    }

    .sections a:nth-child(1){
        margin-left: 90px;
    }

     /*------ HASTA ACA ES ELL  HEADER PARA REPLICAR EN LAS DEMAS PAGINAS*/

.titulo{
    border-bottom: 1px solid black;
}

.barra-progreso{
    display: flex;
}

/*------------- BARRA DE PROGRESO---------- */

/* Progress Tracker v2 */

ol.progress[data-steps="2"] li {
    width: 49%;
  }
  ol.progress[data-steps="3"] li {
    width: 33%;
  }
  ol.progress[data-steps="4"] li {
    width: 24%;
  }
  ol.progress[data-steps="5"] li {
    width: 19%;
  }
  ol.progress[data-steps="6"] li {
    width: 16%;
  }
  ol.progress[data-steps="7"] li {
    width: 14%;
  }
  ol.progress[data-steps="8"] li {
    width: 12%;
  }
  ol.progress[data-steps="9"] li {
    width: 11%;
  }
  .progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
  }
  .progress li {
    float: left;
    text-align: center;
    position: relative;
  }
  .progress .name {
    display: block;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 1em;
    color: black;
    opacity: 0.3;
  }
  .progress .step {
    color: black;
    border: 3px solid silver;
    background-color: silver;
    border-radius: 50%;
    line-height: 1.2;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    z-index: 0;
  }
  .progress .step span {
    opacity: 0.3;
  }
  .progress .active .name,
  .progress .active .step span {
    opacity: 1;
  }
  .progress .step:before {
    content: "";
    display: block;
    background-color: silver;
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 0.6em;
    left: 0;
    z-index: -1;
  }
  .progress .step:after {
    content: "";
    display: block;
    background-color: silver;
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 0.6em;
    right: 0;
    z-index: -1;
  }
  .progress li:first-of-type .step:before {
    display: none;
  }
  .progress li:last-of-type .step:after {
    display: none;
  }
  .progress .done .step,
  .progress .done .step:before,
  .progress .done .step:after,
  .progress .active .step,
  .progress .active .step:before {
    background-color: yellowgreen;
  }
  .progress .done .step,
  .progress .active .step {
    border: 3px solid yellowgreen;
  }

/*----- FIN BARRA DE PROGRESO ---*/


  .main-body {
    width:90%;
    margin: 8px auto;
}

.contenedor-producto{
    width: 30%;
}

.photo-sug {
    width:32%;
}

.descripcion-total{
    width: 50%;
    margin-right: 100px;
}

.descrsup{
    margin-left: 4px;
    font-size: 14px;
}

.descrsup p{
    margin-top: 2px;
    height: 30%;
}

.descrsupright{
        margin-left: 4px;
        width: 100%;
}

.descrsupright select{
    width: 60px;
    margin-left: 15px;
}

.descrinf{
    height: 60px;
}

.descrinf p{
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.descrinfleft{
    height: 20px;
}

.botones-mobile{
    display: none;
}

.botones-desktop{
    display: flex;
    width: 30%;
    margin-top: 3%;
}


.eliminar-guardar {
    width:50%;
    height: 30px;
    font-size: 0.9em;
    border-radius: 2px;
    border: none;
    background-color:#212121;
    color: white;
    margin-bottom: 4px;
    margin-left: 8px;
}

.w-39 {
    width:39%;
}

.w-29 { width:29%;}
.ptb-5 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.ptb-5 {
    padding: 5px 10px;
}

.bckg-gray { 
    background-color: #ebebeb;

}

.bckg-gray p{ 
    margin-bottom: 5px;

}

.bckg-blue {
    background-color: white;
    height: 200px;
    
}

.bckg-green {
    background-color: green;
}

.txt-bold {
    font-weight:bold;
    font-size: 1.02em;
    padding-top: 15px;
    margin-bottom: 8px;
    background-color: white;
}

.photo{
    align-items: center;
}
.photo img{
    width: 40%;
    height: 80%;
    margin-left: 150px;

}

.mb-1 {
    margin-bottom: 1vh;
}

.checkout {
    width:49%;
    text-align: center;
}

.precioscheckout {
    text-align: center;
    margin-bottom: 10px;
}

.header-mobile{
    background-color: white;
    padding: 0 4%;
}

.header-a-caja{
    background-color: none;

    justify-content: flex-end;
}

.products{

    margin: 12px auto;
    font-size: 16px;
}

.continuarcompra {
    width: 60%;
    height: 30px;
    font-size: 0.9em;
    border-radius: 2px;
    border: none;
    background-color:#212121;
    color: white;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-left: 15%;
}




.footer{
    background-color:#272727;
    color: #ddd;
    margin-top: 100px;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;

}


.footer .forma-pago{
    margin-top: 15px;

}

.footer .forma-pago img{
    width: 200px;
    height: 150px;
    margin-top: 5px;
}

.footer .redes{
    margin-top: 15px;
    margin-bottom: 5px;

}

.footer .redes img{
    width: 50px;
    height: 50px;
}

.footer .imagenes-redes {
    margin-top: 10px;
}

.copy{
    font-size: 12px;
    background-color: black;
    text-align: left;
    height: 20px;
    color: #ddd;

}

.resumen{
    margin-top: 40px;
}

.podria p{
    font-weight:bold;
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 8px;
    margin-left: 60px;
}

.producto{
   margin-top: 10px;
   margin-bottom: 10px;
}

.txt-interesarte{
    border-top: 0;
}

.contenedor-interes{
    height: 260px;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;

}

.podria article:nth-child(3){
    display: initial;

}

.podria article:nth-child(4){
    display: initial;

}


.podria{
    height: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

}

.podria img{
    height: 140px;
    width: 90%;
}

.podria .photo-sug{
    width: 22%;
}

.podria article{
    background-color: #ebebeb;
    width: 20%;
    margin: 3px;
    height: 300px;
}

.podria article img{
    width: 90%;
    height: 70%;
    background-color: lightgray;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.podria article p{
    text-align: center;
    margin-left: -6px;
    font-weight: normal;
    margin-bottom: -20px;
}

.podria article:nth-child(3) img{
    margin-left: 5%;

}

.podria article:nth-child(4) img{
    margin-left: 5%;

}






}