*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}/*bordes y demas*/

input:focus{outline: 0;}/*quita recuadro azul de los imputs*/
a{text-decoration: none; color: black;}/*sin subrayado en links*/

.d-flex{display: flex;}/*Flex box*/
.justify-between{justify-content: space-between;}/*separacion de los divs cimetricamente"*/
.justify-center{justify-content: center;}/*para centrar los divs y demas*/
.align-items{align-items: center;}
.grow{flex-grow: 1;}

.div-hm{
    background-color: black;
    height: 30px;
    justify-content: center;

}/*barra hombres mujeres color y centrado */
.div-hm .div-hm-h a{
    margin-left: 4px;
    text-align: center;
    color: black;
    background-color: white;
    width: 120px;
    position: relative;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 6px;
}
.div-hm .div-hm-m a{
        margin-left: 4px;
        text-align: center;
        color: white;
        background-color: none;
        width: 120px;
        position: relative;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 6px;

}/*barra hombres y mujeres color links */

.div-hm .div-hm-m:hover a{
    background-color: lightgray;
    color: black;
}

header{
    background-color: white;
    padding: 0 4%;


}/*color de fondo y tamanio, se quita cuando este el header completo */

.search{
    padding: 3%;
    width: 33%;
}

.search input{
    color: #222;
    font-size: 1em;
    padding: 0 30px 0 10px;
    border-radius: 3px;
    width: 100%;
    border: solid 1px #666;
    vertical-align: middle;
}

.search .icon-search{
    position: absolute;
}
.logo{
    align-self: center;
    width: 33%;
}

.logo img{
    width: 50%;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container{
    display: flex;
}/*divs del header uno al lado del otro */

.header-a-caja{
    background-color: none;
    width: 33%;
    justify-content: flex-end;
}

.slider img{
    width: 100%;

}

.sections{
    background-color: none ;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 90%;
    margin: auto;
    
}
.sections a{
    padding: 15px;
}

.products{
    width: 80%;
    margin: 12px auto;
    font-size: 16px;
}

.products img{width: 100%;}
.products .products-card{
    max-width: 25%;
    margin: 1%;
    background-color: white;
}

.footer{
    background-color: lightgray;
    height: 100px;
}
.footer p{
    font-size: 32px;
}