<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %> 
</head>


<body>
<% include partials/header.ejs %> 

    <div class="slider d-flex justify-center">
        <img src="images/slider1.jpg">
    </div>
        <div id="destacados-mobile" class="destacados d-flex align-items">
            <p class="f-grow4">DESTACADOS</p><button class="f-grow1" id="menu-destacados"><i class="fas fa-chevron-down"></i></button>
            <nav id="nav-destacados">	
                <ul>
                    <li><a href="#">DESTACADOS</a></li>
                    <li><a href="#">MIS TALLES</a></li>
                    <li><a href="#">ÚLTIMOS INGRESOS</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="destacados-desktop" >
        <nav class="d-flex justify-around">	
                <a href="#">DESTACADOS</a>
                <a href="#">MIS TALLES</a>
                <a href="#">ÚLTIMOS INGRESOS</a>
        </nav>
    </div>


    <section class="products d-flex f-wrap align-items justify-center">
        <article class="products-card d-flex f-column">
            <a href="products/:123"><img src="images/ropa1.jpg"></a>
            <p>Buzo Hoodie Capucha</p>
            <p class="precio">$2.849</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa2.jpg"></a>
            <p>Buzo Lila Cante Pido Unillama</p>
            <p class="precio">$3.231</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa3.jpg"></a>
            <p>Adidas Buzo logo hdy</p>
            <p class="precio">$2.126</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa4.jpg"></a>
           <p>Pantalón de hombre Tadeus</p>
           <p class="precio">$9.241</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa5.jpg"></a>
            <p>Canguro Linear adidas</p>
            <p class="precio">$4.499</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa6.jpg"></a>
            <p>Jordan tenis x Travis Scott Air Jordan</p>
            <p class="precio">$3.574</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa7.jpg"></a>
            <p>Buzo De Frisa Idiot - Aesthetic - Japon - Hoodie</p>
            <p class="precio">$1.850</p>
        </article>
        <article class="products-card d-flex f-column">
            <a href="/productdetail"><img src="images/ropa8.jpg"></a>
           <p>Jumper Jean Elastizados Jardinero</p>
           <p class="precio">$2.950</p>
        </article>
    </section>
<% include partials/footer.ejs %> 
</body>
</html>