<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilcha</title>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <div class="div-hm d-flex">
        <div class="div-hm-h dflex">
            <a href="/">Hombres</a>
        </div>
        <div class="div-hm-m dflex">
            <a href="#">Mujeres</a>
        </div>
    </div>

    <!--HEADER MOBILE-->

    <header id="header-mobile" class="d-flex f-column">
        <div class="header-mobile d-flex justify-between align-items">
            <button id="menu"><i class="fas fa-bars"></i></button>
            <nav id="superior">	
                <ul>
                    <li><a href="#">Indumentaria</a></li>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Calzado</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Sale</a></li>
                </ul>
            </nav>


            <a href="/login"><i class="fas fa-user"></i></a>


            <a href="/"><img class="logo" src="images/logo.PNG" alt="logo"></a>


            <a href=""><i class="fas fa-heart"></i></a>

            <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div>
            <div class="search">
                <form class="d-flex icon-search" id="form-busqueda" action="">
                    <input type="text" placeholder="Busqueda"><button class="icon-search" type="submit" value="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    
    </header>

    <!--HEADER DESKTOP-->

    <header id="header-desktop">
    <div class="contenedor-header d-flex align-items">        
        <!--cuadro de busqueda-->
        <div class="search f-grow1">
            <form class="d-flex icon-search" id="form-busqueda" action="">
                <input type="text" placeholder="Busqueda"><button class="icon-search" type="submit" value="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!--cuadro de busqueda-->

        <div class="logo f-grow1">
            <a href="/"><img src="images/logo.PNG" alt="Logo pilcha"></a>
        </div>

        <div class="links-login d-flex header-a-caja f-grow1">
            <!--<a href="">Log in <i class="far fa-user-circle"></i></a>-->
            <a href="/login">Ingresá <i class="far fa-user-circle"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <!--contenedor del header divido en tres secciones-->
    <nav class="sections d-flex justify-between">
        <div class="d-flex nav-desktop f-grow4">
            <a href="#">INDUMENTARIA</a>
            <a href="#">ACCESORIOS</a>
            <a href="#">CALZADO</a>
            <a href="#">MARCAS</a>
            <a href="#">KIDS</a>
            <a href="#">SALE</a>
        </div>
        <div class="justify-end f-grow1">
            <a href="#">MIS COMPRAS</a>
            <a href="#">HISTORIAL</a>
        </div>
    </nav>
    </header>


    <!--Main mobile-->
    <main id="main-mobile" class="d-flex">
        <div class="detail">
            <div class="ruta"><p><a href="#">Inicio</a>/<a href="#">Mujeres</a>/<a href="#">Sweater</a>/<a href="#">Rosa</a></p></div>
            <div class="container f-column d-flex mini">
                <div class="d-flex">
                    <img class="mini-ropa" src="images/ropa1.jpg">
                    <img class="mini-ropa" src="images/ropa1.jpg">
                    <img class="mini-ropa" src="images/ropa1.jpg">
                </div>
                <div class="container">
                    <p class="mob-none"> Condicion: Excelente estado</p>
                    <p class="titulo"> Sweater estampado floral gris </p>
                    <p class="mob-none"> Talle: M</p>
                    <p> $2.550</p>
                    <div class="d-flex ropa1"><img src="images/ropa1.jpg"></div>
                    <div class="">
                        <button type="submit" class="botoncompra align-center">Comprar </button>
                        <button type="submit" class="botoncompra align-center">Agregar al carrito</button>
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex justify-between cont">
                        <div class="">
                            <div class="referencias">
                                <hr>
                            </div>
                            <div class="botones">
                                <p><button type="submit" class="boton-desc align-center d-flex justify-between">Descripcion del producto<i class="derecha-desc fas fa-caret-down"></i></button></p>
                                <p><button type="submit" class="boton-med align-center d-flex justify-between">Medidas<i class="derecha-med fas fa-caret-down"></i></button></p>
                                <hr>
                                <p class="mob-none"> Cantidad de favoritos 0 - <a href="#">Agrear a favoritos</a></p>
                                <hr>
                            </div>
                            <div class="m-top">
                                <hr>
                                <p>Otros usuarios tambien vieron</p>
                                <div class="d-flex justify-center interest">
                                    <article class="products-card ">
                                        <img class="image-interest" src="images/ropa1.jpg">
                                        <p>Buzo Hoodie Capucha</p>
                                        <p class="precio">$2.849</p>
                                    </article>
                                    <article class="products-card">
                                        <img class="image-interest" src="images/ropa2.jpg">
                                        <p>Buzo Lila Cante Pido Unillama</p>
                                        <p class="precio">$3.231</p>
                                    </article>
                                    <article class="products-card">
                                        <img class="image-interest" src="images/ropa3.jpg">
                                        <p>Adidas Buzo logo hdy</p>
                                        <p class="precio">$2.126</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <hr>
                    <p class="tb-inter">Tambien podria interesarte</p>
                    <div class="d-flex justify-center interest">
                        <article class="products-card ">
                            <img class="image-interest" src="images/ropa1.jpg">
                            <p>Buzo Hoodie Capucha</p>
                            <p class="precio">$2.849</p>
                        </article>
                        <article class="products-card">
                            <img class="image-interest" src="images/ropa2.jpg">
                            <p>Buzo Lila Cante Pido Unillama</p>
                            <p class="precio">$3.231</p>
                        </article>
                        <article class="products-card">
                            <img class="image-interest" src="images/ropa3.jpg">
                            <p>Adidas Buzo logo hdy</p>
                            <p class="precio">$2.126</p>
                        </article>
                    </div>
                </div>  
        </div>
    </main>

    <!--Main  desktop-->
    <main id="main-desktop" class="">
        <div class="detail">
            <div class="ruta"><p><a href="#">Inicio</a>/<a href="#">Mujeres</a>/<a href="#">Sweater</a>/<a href="#">Rosa</a></p></div>
            <div class="container d-flex mini f-wrap justify-between m-topphoto">
                <div class="w-ropa20 d-flex f-column m-ropa alt-div">
                    <img class="mini-ropa" src="images/ropa1.jpg">
                    <img class="mini-ropa" src="images/ropa1.jpg">
                    <img class="mini-ropa" src="images/ropa1.jpg">
                </div>
                <div class="container w-foto40">
                    <img class="photo" src="images/ropa1.jpg">
                </div>
                <div class="referencias d-flex f-column justify-between w-desc40">
                    <hr>
                    <p class="mob-none"> Condicion: Excelente estado</p>
                    <p> Nombre del producto: Sweater estampado floral gris </p>
                    <p class="mob-none"> Talle: M</p>
                    <p> Precio: $2.550</p>
                    <div class="botones">
                        <button type="submit" class="botoncompra align-center">Comprar </button>
                        <button type="submit" class="botoncompra align-center">Agregar al carrito</button>
                        <hr>
                        <div class="m-tope">
                            <p class="mob-none p-centro"> Cantidad de favoritos 0 - <a href="#">Agregar a favoritos</a></p></p>
                        </div>
                        <hr>
                    </div>
                </div>
        </div>
        <hr>
        <div class="d-flex justify-between f-wrap cont">
            <div class="d-flex f-column a-end w-bot60">
                <button type="submit" class="boton-desc align-center">Descripcion del producto<i class="derecha-desc fas fa-caret-down"></i></button>
                <button type="submit" class="boton-desc align-center">Medidas<i class="derecha-med     fas fa-caret-down"></i></button>
            </div>
            <div class="w-foto40">
                <p class="o-user">Otros usuarios tambien vieron</p>
                <div class="d-flex f-direction a-content">
                    <img class="img-vieron" src="images/ropa2.jpg" alt="">
                    <img class="img-vieron" src="images/ropa3.jpg" alt="">
                    <img class="img-vieron" src="images/ropa4.jpg" alt="">
                    <img class="img-vieron" src="images/ropa5.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <p class="tb-inter">Tambien podria interesarte</p>
            <div class="d-flex justify-center">
                <article class="products-card ">
                    <img class="image-interest" src="images/ropa1.jpg">
                    <p>Buzo Hoodie Capucha</p>
                    <p class="precio">$2.849</p>
                </article>
                <article class="products-card">
                    <img class="image-interest" src="images/ropa2.jpg">
                    <p>Buzo Lila Cante Pido Unillama</p>
                    <p class="precio">$3.231</p>
                </article>  
                <article class="products-card">
                    <img class="image-interest" src="images/ropa3.jpg">
                    <p>Adidas Buzo logo hdy</p>
                    <p class="precio">$2.126</p>
                </article>
                <article class="products-card">
                   <img class="image-interest" src="images/ropa5.jpg">
                   <p>Pantalón de hombre Tadeus</p>
                   <p class="precio">$9.241</p>
                </article>
            </div>
        </div> 
    </main>
    <footer class="footer d-flex">
        <div class="forma-pago d-flex f-column align-items">
            <p>MEDIOS DE PAGO</p>
            <img src="images/pagos.png" alt="pagos">
        </div>
        <div class="redes d-flex f-column">
            <p>SEGUINOS!</p>
            <div class="imagenes-redes d-flex justify-center align-items">
                <a href="#"><img src="images/instagram.png" alt="instagram"></a>
                <a href="#"><img src="images/facebook.png" alt="facebook"></a>
            </div>
            <p>NUESTRO MAIL</p>
            <a href="#"><img src="images/mail.png" alt="mail"></a>
        </div>
    </footer>
    <div class="copy">
        <p>Proyecto Grupo 3 - 2020 ©</p>
    </div>
</body>
</html>