<footer class="footer d-flex">
    <div class="forma-pago d-flex f-column align-items">
        <p>MEDIOS DE PAGO</p>
        <img src="/images/pagos.png" alt="pagos">
    </div>
    <div class="redes d-flex f-column">
        <p>SEGUINOS!</p>
        <div class="imagenes-redes d-flex justify-center align-items">
            <a href="#"><img src="/images/instagram.png" alt="instagram"></a>
            <a href="#"><img src="/images/facebook.png" alt="facebook"></a>
        </div>
        <p>NUESTRO MAIL</p>
        <a href="#"><img src="/images/mail.png" alt="mail"></a>
    </div>
</footer>
<div class="copy">
    <p>Proyecto Grupo 3 - 2020 ©</p>
</div>