<div class="div-hm d-flex">
    <div class="div-hm-h dflex">
        <a href="/">Hombres</a>
    </div>
    <div class="div-hm-m dflex">
        <a href="#">Mujeres</a>
    </div>
</div>

<!--HEADER MOBILE-->

<header id="header-mobile" class="d-flex f-column">
    <div class="header-mobile d-flex justify-between align-items">
        <button id="menu"><i class="fas fa-bars"></i></button>
        <nav id="superior">	
            <ul>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Calzado</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Sale</a></li>
            </ul>
        </nav>


        <a href="/users/login"><i class="fas fa-user"></i></a>


        <a href="/"><img class="logo" src="/images/logo.PNG" alt="logo"></a>


        <a href=""><i class="fas fa-heart"></i></a>

        <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div>
        <div class="search">
            <form class="d-flex icon-search" id="form-busqueda" action="">
                <input type="text" placeholder="Busqueda"><button class="icon-search" type="submit" value="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

</header>

<!--HEADER DESKTOP-->

<header id="header-desktop">
<div class="contenedor-header d-flex align-items">        
    <!--cuadro de busqueda-->
    <div class="search f-grow1">
        <form class="d-flex icon-search" id="form-busqueda" action="">
            <input type="text" placeholder="Busqueda"><button class="icon-search" type="submit" value="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!--cuadro de busqueda-->

    <div class="logo f-grow1">
        <a href="/"><img src="/images/logo.PNG" alt="Logo pilcha"></a>
    </div>

    <div class="links-login d-flex header-a-caja f-grow1">
        <!--<a href="">Log in <i class="far fa-user-circle"></i></a>-->
        <a href="/users/login">Ingresá <i class="far fa-user-circle"></i></a>
        <a href=""><i class="fas fa-heart"></i></a>
        <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>
<!--contenedor del header divido en tres secciones-->
<nav class="sections d-flex justify-between">
    <div class="d-flex nav-desktop f-grow4">
        <a href="#">INDUMENTARIA</a>
        <a href="#">ACCESORIOS</a>
        <a href="#">CALZADO</a>
        <a href="#">MARCAS</a>
        <a href="#">KIDS</a>
        <a href="#">SALE</a>
    </div>
    <div class="justify-end f-grow1">
        <a href="#">MIS COMPRAS</a>
        <a href="#">HISTORIAL</a>
    </div>
</nav>
</header>
