<!DOCTYPE html>
<html lang="en">

<% include ./partials/head.ejs %>

<body>

    <% include ./partials/header.ejs %> 

    <h1>Edición de productos</h1>

    <% include ./partials/footer.ejs %> 
</body>
</html>